@charset "utf-8";
/* 버거킹 : 메인페이지 CSS - core.css */
/* 공통 셋팅을 위한 클래스 셋팅 + 웹폰트*/






/* --------------- 폰트 ----------------- */
/* 

[영어]로보토     *****sub-title
컨텐트 박스 소제목
- roboto bold 700

컨텐트 박스 내용 (? 노토산스랑 비교)
-roboto regular 400

font-family: 'Roboto Condensed', sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/* 
[영어] 아리엘
타이틀
font-family: 'Arial', sans-serif;


*/
@import url('https://fonts.cdnfonts.com/css/arial-2');


/* 
[한국]검은고딕- 딱딱한느낌
-메뉴
font-family: 'Black Han Sans', sans-serif; 
*/

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');



@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');



/* 
  font-family: 'RixInooAriDuriR'; *****title
[한국 인데 영문으로 쓰기] Rix이누아리두리네 
-컨텐트박스 큰 타이틀

*/
@font-face {
  font-family: 'RixInooAriDuriR'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* 
[한국]카페24 서라운드 - 동그란 느낌  ******view-button
-메뉴
 */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*
[한국]노토산스KR 400 700 900--본문
font-family: 'Noto Sans KR', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');



/* 
[한국]조선굴림체 - 본문 /둥글 납작  *****article
*/
@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*  
[한국] 나눔스퀘어 라운드 - 본문 /둥글 일반

*/
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




/* --------------- 스크롤바 ----------------- */

/* 스크롤바 디자인 클래스 */
/* -webkit- 밴더사명(크롬,사파리) 접두어 */
/* (참고: -ms-(ie), -o- (오페라), -moz-(파이어폭스) */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar{
  /* 전체 스크롤바 크기변경 */
  width: 15px;
  height: 15px;
}
.scbar::-webkit-scrollbar-thumb{
  /* 스크롤바 */
  background-color: #111;
  border-radius: 8px;
}
.scbar::-webkit-scrollbar-track{
  /* 스크롤바 트랙 */
  background-color: #ffffff;
  border-radius: 2px;
}