@charset "utf-8";
/* 버거킹 : 서브메뉴1 CSS - sub01.css */

 

/* #sub01-main *{
  outline: 1px dashed red;
}
  */




.sub-nav{
  position: relative;
  top:-300px;
  width: 100%;
  height: 630px;
  background-color: #000;
}

.sub-outbox{
  height: 600px;
}

.sub-inbox{
  height: 300px;
  position: relative;
  top: 300px;
  overflow: hidden;
}


.menu-btn>img{
position: absolute;
top: 30%;
cursor: pointer;
}

.menu-btn>img:first-child{
 left: 0;
 margin-left: 50px;
}
.menu-btn>img:last-child{
  right: 0;
  margin-right: 50px;
}



.menu-list{
  transition: left 0.5s ease-out;
 display: flex;
 position:relative;
 right: 0;
}

.menu-list-item{
  position: relative;
  left: 16.66%;
  flex-shrink: 0;
  padding: 3.4vw;
  box-sizing: border-box;
  text-align: center;

  opacity: .5;
  transition: opacity .8s;
}





.menu-list-item.on{
  opacity: 1;

}

.menu-list-item:hover{
  opacity: 1;
  
}


.menu-list-item img{
  width: 100%;
}

.menu-list-item h4{
  color: #fff;
  margin-top: 10px;
  word-break: keep-all;
  display: inline-block;
}

/* .menu-list-item:first-child h4{
  color:#d0021b;
}

.menu-list-item:hover h4{
  color:#d0021b;
}
 */


.menu-list-item h4::after{
  content: '';
  display: block;

  width: 0%;
  margin-left: 100%;

  height: 3px;
  background-color: #d0021b;

  transition:.3s;
  margin: .3vw 0;

}




.menu-list-item.on h4::after{
  content: '';
  display: block;

  width: 100%;
  margin-left: 100%;

  height: 3px;
  background-color: #d0021b;

  transition:.3s;
  margin: .3vw 0;

}



.menu-list-item:hover h4::after{
  width: 100%;
  margin-left: 0%;
  transition: width .3s;

} 





/*********************** 메뉴소개 ************************/

.menu{
  position: relative;
  top: -350px;
}

.menu-top{

  height: 500px;
  width: 90%;
  margin-left: auto;
  background: url(../images/04-1.sub01-menu/01.whats-new/desktop-topBanner.png) no-repeat center/cover;
}


.menu-content{
  width: 50%;
  height: 100%;
  padding: 10vw 0vw 7vw 10vw;
  box-sizing: border-box;  
}

.menu-title {
  font-family: 'Cafe24Ssurround';
  color: #fff;
  font-size: min(3.3rem,7.5vw);
  line-height: min(5rem,11vw);
  word-break: keep-all;
}

.menu-content .h-underline-last-line{
  border-bottom: min(7.3px,1.6vw) solid #fff;
  width: 100%;
}

.menu-content p{
  color: #fff;
}




/*********************** 메뉴소개 - 모바일  ************************/
.m-menu-top{
  position: relative;
  height: 54vw;
  background: url(../images/04-1.sub01-menu/01.whats-new/mobile-topBanner.jpg) no-repeat center/cover;
  width: 100%;
 
}

.m-menu-content{
  position: relative;
  text-align: center;
  top: -10vw;
}

.m-menu-content>img{
  position: relative;
  width: 40vw;

}

.m-menu-title {
  font-family: 'Cafe24Ssurround';
  color: #fff;
  font-size: min(2rem,5.7vw);
  margin-top: 4vw;
  word-break: keep-all;
}

.m-menu-content .h-underline-last-line{
  border-bottom: min(5px,1vw) solid #fff;
}

.m-menu-content p{
  color: #fff;
  text-align: center;
  font-size: min(1.1rem,3vw);
  margin: 5vw auto;
  padding: 0;
  line-height: min(1.4rem,4vw);
}

/*********************** 아이템(버거) 리스트  ************************/
.item-list{

  margin: 5vw 10vw;

  font-family: 'Cafe24Ssurround';
  color: #111;
  font-weight: bold;

  font-size: min(1.2rem,1.7vw);
  word-break: keep-all;

}






.bgbox.item{
  height: 100%;
  bottom: 0;
  z-index: -1;
  right: 0;
}

.bg-txt.item{
  font-size: 18vw;
}


.burger{
  text-align: center;
  
}

.burger ul{    
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 24px;
  grid-row-gap: 48px;
}


/* 현장포토 이미지 공통 */
.burger img {
  width: 100%;
  cursor: pointer;
  margin-bottom: 1vw;
}

.burger img:hover{
  transform: scale(1.06);
  transition: 0.5s;

}




/* 이미지 호버시 글자 작아짐 - 왜 안되지 */
/* .burger img:hover .item-list p{
  transform: scale(0.9);
  transition: 0.5s;
} */


  /* 드래그 선택 안되게 하는 CSS */
  .dselect * {
    user-select: none;
    /* 선택안되게함 */
    -webkit-user-drag: none;
    /* 드래그안되게함 */
}